
@{
    ViewBag.Title = "Galeria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nasi dzielni pacjenci</h2>



<div class="css_gallery">
    <ul>
        <li>
            <img src="~/Img/BubaMin.jpg" alt="Tekst alternatywny" />
            <div>
                <img src="~/Img/Buba.jpg" alt="Tekst alternatywny" />
                <p>
                    <center><b>
                         Wesoły Buba
                    </b></center>
                   </p>
            </div>
        </li>
        <br >
        <li>
            <img src="~/Img/NelaMin.jpg" alt="Tekst alternatywny" />
            <div>
                <img src="~/Img/Nela.jpg" alt="Tekst alternatywny" />
                <p>
                    <center><b>
                        Kombinator Nela
                        </b>
                    </center>
                </p>
            </div>
        </li>
        <br>
        <li>
            <img src="~/Img/MyszMin.jpg" alt="Tekst alternatywny" />
            <div>
                <img src="~/Img/Mysz.jpg" alt="Tekst alternatywny" />
                <p>
                    <center><b>
                        Szybka Myszka
                        </b>
                    </center>
                    </p>
            </div>
        </li>
        <br>
        <li>
            <img src="~/Img/PapugaMin.jpg" alt="Tekst alternatywny" />
            <div>
                <img src="~/Img/Papuga.jpg" alt="Tekst alternatywny" />
                <p>
                    <center>
                        <b>
                            Dzielna Papuga
                        </b>
                    </center>
                </p>
            </div>

            

       
    </ul>
</div>