
@{
    ViewBag.Title = "Galeria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Galeria</h2>



<div class="css_gallery">
    <ul>
        <li>
            <img src="~/Img/1.jpg" alt="Tekst alternatywny" />
            <div>
                <img src="~/Img/1.jpg" alt="Tekst alternatywny" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </li>
        <li>
            <img src="~/Img/2.jpg" alt="Tekst alternatywny" />
            <div>
                <img src="~/Img/2.jpg" alt="Tekst alternatywny" />
                <p>
                    Nullam pulvinar orci quis mi aliquam, sit amet finibus nisi imperdiet.
                </p>
            </div>
        </li>
        <li>
            <img src="~/Img/1.jpg" alt="Tekst alternatywny" />
            <div>
                <img src="~/Img/1.jpg" alt="Tekst alternatywny" />
                <p>
                    Donec varius, felis sit amet congue varius, tellus libero facilisis nibh, eget interdum dui mauris ac neque.
                </p>
            </div>
        </li>
        <li>
            <img src="~/Img/2.jpg" alt="Tekst alternatywny" />
            <div>
                <img src="~/Img/2.jpg" alt="Tekst alternatywny" />
                <p>
                    Vestibulum vitae dignissim felis.
                </p>
            </div>

           
        </li>
    </ul>
</div>