
@{
    ViewBag.Title = "Galeria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h2>Nasi dzielni pacjenci</h2>

    <br />
    <br />

    <div class="css_gallery">
        <ul>
            <li>
                <img src="~/Img/BubaMin.jpg" alt="Tekst alternatywny" />
                <div>
                    <img src="~/Img/Buba.jpg" alt="Tekst alternatywny" />
                    <p>
                        <center>
                            <b>
                                Buba
                            </b>
                        </center>
                    </p>
                </div>
            </li>
            <br>
            <li>
                <img src="~/Img/NelaMin.jpg" alt="Tekst alternatywny" />
                <div>
                    <img src="~/Img/Nela.jpg" alt="Tekst alternatywny" />
                    <p>
                        <center>
                            <b>
                                Nela
                            </b>
                        </center>
                    </p>
                </div>
            </li>
            <br>
            <li>
                <img src="~/Img/MyszMin.jpg" alt="Tekst alternatywny" />
                <div>
                    <img src="~/Img/Mysz.jpg" alt="Tekst alternatywny" />
                    <p>
                        <center>
                            <b>
                                Mysz
                            </b>
                        </center>
                    </p>
                </div>
            </li>
            <br>
            <li>
                <img src="~/Img/PapugaMin.jpg" alt="Tekst alternatywny" />
                <div>
                    <img src="~/Img/Papuga.jpg" alt="Tekst alternatywny" />
                    <p>
                        <center>
                            <b>
                                Papuga
                            </b>
                        </center>
                    </p>
                </div>




        </ul>
    </div>
    </div>