  

body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
  /*obsługa galerii*/

  * {
margin: 0;
padding: 0;
}
.css_gallery {
margin: 0 auto;
width: 720px; /* szerokosc najszerszego zdjęcia + szerokosc miniatur + 40px luzu */
position: relative;
overflow: hidden;
}
.css_gallery ul {
list-style-type: none;
width: 192px; /* szerokosc miniatur */
height: 375px; /* wysokosc najwyzszego zdjecia + miejsce na ewentualny opis zdjec */
overflow: auto;
padding: 0;
float: left;
margin: 0 0 30px 0;
}
.css_gallery li {
display: block;
width: 152px; /* szerokosc miniatury + ew. obramowanie obrazka */
height: 152px; /* wysokosc miniatury + ew. obramowanie obrazka */
padding: 5px 20px 5px 0;
margin: 0;
}
.css_gallery li img {
border: 1px solid #000;
max-width: 500px;
max-height: 500px;
}
.css_gallery li div {
display: none;
}
.css_gallery ul:hover li:first-child div {
display: none;
}
.css_gallery li:hover div
,.css_gallery ul li:first-child div
,.css_gallery ul li:first-child:hover div {
display: block;
position: absolute;
left: 220px; /* szerokosc <ul> + padding <ul> + 20px */
top: 0;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}