@{
    ViewBag.Title = "Kontakt do administratora";
}
<h2>@ViewBag.Title.</h2>


<address>
    Bartosz Blicharski<br />
    <strong>Adres mailowy:</strong>   <a href="bartek.blicharski@gmail.com">bartek.blicharski@gmail.com</a><br />
</address>

