@{
    ViewBag.Title = "Kontakt do administratora systemu";
}
<div class="jumbotron">
    <h2>@ViewBag.Title</h2>


    <address>
        Bartosz Blicharski<br />
        <strong>Adres mailowy:</strong>   <a href="bartek.blicharski@gmail.com">bartek.blicharski@gmail.com</a><br />
        <strong>Numer telefonu:</strong>  880-214-350<br />
    </address>
</div>
