@{
    ViewBag.Title = "Kontakt do administratora";
}
<h2>@ViewBag.Title.</h2>


<address>
    Bartosz Blicharski<br />
    <strong>Adres mailowy:</strong>   <a href="bartek.blicharski@gmail.com">bartek.blicharski@gmail.com</a><br />
</address>

<center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1179.7801320441079!2d20.456275317163943!3d53.74390621817825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1494154102308" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></center>