@{
    ViewBag.Title = "Home Page";
}


    <div class="col-md-10">
        <div class="jumbotron">
            <h1>Witamy na stronie naszego gabinetu!</h1>
            <p class="lead">Leczeniem zwierząt zajmujemy się od bardzo dawna. Możemy pochwalić się dużą ilością zdrowych i szczęśliwych pracjentów. </p>
            <p>Zachecamy do zapoznania sie z naszą ofertą!</p>
            <p><a href="~/Offer" class="btn btn-primary btn-lg">Nasz oferta &Rightarrow;</a></p>
        </div>
        </div>
    <div class="col-md-2">
        <div class="jumbo">
            <b>Znajdź nas w mediach:</b>
            <p>
                <center>
                    <a href="http://www.facebook.pl" target="_blank"><img src="img/face.jpg" height="40" width="40" /></a><br><br>
                    <a href="https://www.instagram.com/" target="_blank"><img src="img/insta.jpg" height="40" width="40" /></a>
                </center>
            </p>
            </div>
        </div>





<div class="row">

</div>