
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Usługi</h2>

    W naszej przychodni staramy się zapewnić Państwa czworonożnym ulubieńcom najlepszą opiekę i fachową pomoc. W tym celu oferujemy szeroki wachlarz usług:
    <br /><br />
    &bull;  leczenie chorób wewnętrznych psów i kotów i innych zwierząt towarzyszących<br />
    &bull;  profilaktyka i leczenie chorób zakaźnych
    &bull;  (wykorzystanie szybkich testów diagnostycznych SNAP do wykrycia zakażenia FIV, FIP, FeLV, FPV u kotów oraz zakażenia Borrelia sp., a także CDV czyli nosówki u psów)<br />
    &bull;  chirurgia miękka i ortopedia<br />
    &bull;  kardiologia<br />
    &bull; (badania EKG na miejscu)<br />
    &bull;  dermatologia<br />
    &bull;  (pobieranie zeskrobin skóry, testy alergiczne z krwi – 90 alergenów, w tym 24 pokarmowe, dopasowanie diety, terapia ogólna)<br />
    &bull; okulistyka<br />
    &bull;  położnictwo i ginekologia<br />
    &bull;  endokrynologia<br />
    &bull;  stomatologia (w tym usuwanie kamienia nazębnego ultradźwiękami)<br />
    &bull;  profilaktyka (tj. szczepienie, odrobaczanie, zapobieganie i zwalczanie inwazji pcheł, kleszczy i innych pasożytów skóry)<br />
    &bull; dietetyka<br /><br />
    W przychodni dysponujemy aparatami do badań:
    <br /><br />
    &bull;USG,<br />
    &bull; RTG,<br />
    &bull; EKG,<br />
    &bull; morfologii krwi,<br />
    &bull; biochemii krwi,<br />
    &bull; badania moczu.<br /><br />

</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
