
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Nasza Oferta</h1>

    <p class="lead" ><i> W naszej przychodni staramy się zapewnić Państwa czworonożnym ulubieńcom najlepszą opiekę i fachową pomoc. W tym celu oferujemy szeroki wachlarz usług: </i></p>
        
    <p style="text-indent: 5%"> &bull;  leczenie chorób wewnętrznych psów i kotów i innych zwierząt towarzyszących<br /></p>
    <p style="text-indent: 5%"> &bull;  chirurgia miękka i ortopedia<br /></p>
    <p style="text-indent: 5%"> &bull;  kardiologia<br /></p>
    <p style="text-indent: 5%"> &bull; (badania EKG na miejscu)<br /></p>
    <p style="text-indent: 5%"> &bull;  dermatologia<br /></p>
    <p style="text-indent: 5%"> &bull;  (pobieranie zeskrobin skóry, testy alergiczne z krwi – 90 alergenów, w tym 24 pokarmowe, dopasowanie diety, terapia ogólna)<br /></p>
    <p style="text-indent: 5%"> &bull; okulistyka<br /></p>
    <p style="text-indent: 5%"> &bull;  położnictwo i ginekologia<br /></p>
    <p style="text-indent: 5%"> &bull;  endokrynologia<br /></p>
    <p style="text-indent: 5%"> &bull;  stomatologia (w tym usuwanie kamienia nazębnego ultradźwiękami)<br /></p>
    <p style="text-indent: 5%"> &bull;  profilaktyka (tj. szczepienie, odrobaczanie, zapobieganie i zwalczanie inwazji pcheł, kleszczy i innych pasożytów skóry)<br /></p>
    <p style="text-indent: 5%"> &bull; dietetyka</p>
        <br />

    <p class="lead"><i>W przychodni dysponujemy aparatami do badań:</i></p>
        <br />
<p style="text-indent: 5%"> &bull;USG,<br /></p>
    <p style="text-indent: 5%"> &bull; RTG,<br /></p>
    <p style="text-indent: 5%"> &bull; EKG,<br /></p>
    <p style="text-indent: 5%"> &bull; morfologii krwi,<br /></p>
    <p style="text-indent: 5%"> &bull; biochemii krwi,<br /></p>
    <p style="text-indent: 5%"> &bull; badania moczu.<br /><br /></p>

</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
